<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코리아IT 대학교 수강신청</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/coursepage/course.css">
</head>
<body>
    <div class="table-container">
        <h2>개설강좌</h2>
            <table class="opened-table">
                <thead>
                    <tr>
                        <th>신청</th>
                        <th>이수구분</th>
                        <th>과목번호</th>
                        <th>과목명</th>
                        <th>학점/시간</th>
                        <th>담당교수</th>
                        <th>강의실(시간)</th>
                        <th>구분</th>
                        <th>원격구분</th>
                        <th>전공상호인정과목</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        <div class="page-controller">
            <ul class="page-numbers">
                <a href=""><li>1</li></a>
                <a href=""><li>2</li></a>
            </ul>
        </div>
        <div class="comfirmed-course">
    
        </div>
        <div>
    
        </div>
    </div>
    
</body>
</html>